
.button-store {
  background-color: #252c41;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  width: 200px;
  height: 60px;
  /* padding: 19px 60px; */
  /* margin-left: 38px; */
  display: inline-block;
}