.button-store {
  background-color: #252c41;
  font-family: Arial, "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  width: 200px;
  height: 60px;
  display: Block;
  border: none;
  float: left;
}

.button-store.-second {
  background-color: transparent;
  line-height: 56px;
  width: 218px;
  border: 2px solid #fff;
  margin-right: 38px;
  cursor: pointer;
}

.button-store button,
.button-store a {
  background-color: inherit;
  border: none;
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

.wrap-product > .buttons {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 100px));
}
