.container-store {
  background-color: #e24647;
  width: 80%;
  padding: 55px 60px 95px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dl-product {
  color: #fff;
  font-family: Arial, "Roboto", sans-serif;
  float: right;
  width: 456px;
}
.dt-title {
  margin: 144px auto 100px auto;
  font-size: 25px;
}

.dd-product {
  margin-bottom: 28px;
  font-size: 20px;
}
.description {
  margin-top: 73px;
  font-size: 18px;
}
.dd-callToAction {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-bottom: 100px;
  display: block;
}

.product {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 200px;
  left: 10px;
}
