* {
  box-sizing: border-box;
}

.header-store {
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
  text-transform: uppercase;
  cursor: pointer;
}

.header-store > .navigation {
  float: right;
  font-size: 21px;
  font-family: "Segoe UI", "Roboto", sans-serif;
}

.header-store nav > .action {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.header-store nav > .action.border:hover {
  border-bottom: solid 1px #fff;
}

.header-store.action nav > .-last {
  margin-right: 0;
}
.header-store input[type="search"] {
  background-color: transparent;
  font-size: 18px;
  font-family: Arial, "Roboto", sans-serif;
  color: inherit;
  border: none;
  border-bottom: solid 1px #fff;
  width: 250px;
  height: 32px;
  outline: none;
  padding: 7px;
}

.header-store > input,
#search::placeholder {
  color: #fff;
  font-size: 20px;
}
.header-store > input,
#search:focus::placeholder {
  opacity: 0.3;
  color: #fff;
}
