.photo-product {
  border-radius: 0 150px 150px 0;
  background-color: #fff;
  display: inline-block;
  width: 500px;
  height: 574px;
  vertical-align: middle;
}

.phone-product {
  width: 547px;
  height: 547px;
  margin-left: 0px;
}
