header {
  background-color: #e24647;
  color: #fff; 
  overflow: hidden;
  margin: 117px 115px;
  padding: 55px 60px 95px;
}

h1 {
  font-size: 40px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

nav {
  float: right;
  font-size: 21px;
  font-family: 'Segoe UI', "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  margin-left: 60px;
}

/* li, h1 {
  display: inline-block;
} */





